<link rel='stylesheet' href='/stylesheets/include/header.css' />

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal clearfix">
      <a class="pure-menu-heading" href="/">Live Window</a>
      
      <ul class="pure-menu-list">
          <li class="pure-menu-item <% if(currentTab === 'index') { %>pure-menu-selected<% } %>"><a href="/" class="pure-menu-link">首页</a></li>
          <li class="pure-menu-item <% if(currentTab === 'report') { %>pure-menu-selected<% } %>"><a href="/report" class="pure-menu-link">数据分析</a></li>
          <li class="pure-menu-item"><a href="#reward" class="pure-menu-link">打赏站长</a></li>
      </ul>
      <div class="search-info">
        <span class="parent">
          <input type="text" class="txt j-flag" id="searchInput" <% if (keyword !== '') { %>value="<%=keyword%>"<% } %> style="opacity: 1;">
          <label class="ph j-flag" id="searchHint">直播标题/主播名</label>
        </span>  
      </div>
    </div>
</div>

<div class="remodal zhifuqr" data-remodal-id="reward">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h2>感谢您的支持，我会继续努力的！</h2>
    <img class="qr-img" src="/images/zhifubao_qr.png" alt="">
    <p class="tip">打开支付宝扫一扫,就可进行扫码打赏哦~</p>
</div>

