.header{
    position: fixed;
    width: 100%;
    height: 62px;
    z-index: 2;
    top : 0;
}

.menu{
    position: fixed;
    width : 180px;
    height: 100%;
    background-color:rgb(37, 42, 58);
    z-index: 1;
    top : 0;
}

.menu .menu-content{
    margin-top: 62px;
}

.menu .menu-item{
    display: block;
    color: #999;
    border: none;
    white-space: normal;
    padding: 10px 16px;
}

.menu .menu-item:hover, .menu .menu-item:focus {
    background: #333;
}
.menu .menu-item.active{
    background: #1f8dd6;
    color: #ffffff;
}

.content{
    margin-top: 62px;
    margin-left: 180px;
    padding: 40px 52px;
}

#chart{
    height: 500px;
}