.home-menu {
    background: #2d3e50;
}
.home-menu {
    padding: 0.5em;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu ul {
    float: right;
}

.home-menu a {
    color: #6FBEF3;
}

.home-menu .pure-menu-selected a,.home-menu .pure-menu-selected a:visited {
    color: white;
}

.home-menu li a:hover, .home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

.search-info{
    font-size: 12px;
    margin: 6px 20px 0 0;
    width: 210px;
    height: 31px;
    float: right;
    background: url(/images/searchbar.png) no-repeat;
}
  
.search-info .parent {
    display: block;
    position: relative;
    margin: 2px 0 0 33px;
}
.search-info .parent input {
    width: 90%;
    margin: 0;
    padding: 0;
    background: transparent;
    color: #333;
    border: 0;
}
.search-info .parent input:focus {
    outline: none;
}

.search-info .parent label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    color: #9b9b9b;
    cursor: text;
}

.zhifuqr .qr-img{
    max-width: 100%;
}